.ide {
  display: flex;
  flex-direction: row;
}

.ide .Editor {
  flex-basis: 65vw;
  height: 100vh;
}

.ide .Navigation {
  flex-basis: 15vw;
  padding: 10px;
  padding-top: 25px;

  display: flex;
  flex-direction: column;
}

.ide .NavAccessColumn {
  height: 100vh;
  width: 0px;
  position: relative;
}

.ide .NavigationAccess {
  position: absolute;
  right: -8.5px;
  z-index: 10;
  width: 18px;
  height: 18px;
  top: 30%;
  transform: translateY(-30%);
  fill: #707375;
  cursor: pointer;
}

.ide .Navigation.Navigation--closed {
  flex-basis: 0.1vw;
}

.ide .Navigation .NavigationFolder:not(:first-child) {
  padding-top: 10px;
}

.ide .Visual {
  flex-basis: 20vw;
  height: 100vh;
}