.Editor {
  display: flex;
  flex-direction: row;
  position: relative;
}

.Editor .Monaco {
  flex-basis: 55vw;
  height: 100vh;
}

.Editor .Navigation {
  flex-basis: 15vw;
  padding: 10px;
  padding-top: 25px;

  display: flex;
  flex-direction: column;
}

.Editor .NavAccessColumn {
  height: 100vh;
  width: 0px;
  position: relative;
}

.Editor .NavigationAccess {
  position: absolute;
  right: -8.5px;
  z-index: 10;
  width: 18px;
  height: 18px;
  top: 30%;
  transform: translateY(-30%);
  fill: #707375;
  cursor: pointer;
}

.Editor .Navigation.Navigation--closed {
  flex-basis: 0.1vw;
}

.Editor .Navigation .NavigationFolder:not(:first-child) {
  padding-top: 10px;
}

.Editor .Canvas {
  flex-basis: 30vw;
  height: 100vh;
}

.Editor .FilePane {
  position: absolute;
}