$output-pane-gutter-left: 10px;
$output-pane-gutter-right: 15px;

.module-update-route {
  &-output {
    padding-right: $output-pane-gutter-right;
    padding-left: $output-pane-gutter-left;

    &::-webkit-scrollbar { 
      display: none; // safari and chrome
    }
  }
  &-toolbar {
    display: flex;

    &-tool {
      margin: 5px;
    }
  }
}