.Codeblock {
  position: relative;
  flex-basis: 0;
  flex-grow: 1;
}

.Codeblock .Button-eval {
  position: absolute;
  top: -2px;
  right: 10px;
  z-index: 1;
  font-weight: bold;
  font-size: 14px;
}

.Codeblock:hover .Button-eval svg {
  display: block;
}

.Codeblock .Button-eval svg:hover {
  opacity: 1;
}

.Codeblock .Button-eval svg {
  height: 20px;
  width: 20px;
  opacity: 0.5;
  display: none;
}

.Codeblock .Button-eval.progress {
  right: 6px;
  top: -6px;
}

.Codeblock .Button-eval svg.LoadingGear {
  width: 28px;
  height: 28px;
}

.Codeblock .Button-eval svg.Check,
.Codeblock .Button-eval svg.progress {
  display: block;
}

.Codeblock .Codeblock-margin {
  width: 3px;
  background-color: #3cb042;
}

.Codeblock .Codeblock-margin.err {
  background-color: #dc362e;
}

.Codeblock .Codeblock-space {
  width: 10px;
}

.Codeblock .Codeblock-margin,
.Codeblock .Codeblock-space {
  flex-shrink: 0;
}

.Codeblock-out {
  padding-top: 5px;
  font-size: 12px;
}

.Codeblock .CodeblockCanvas {
  flex-grow: 1;
}

.Codeblock .CodeblockCanvas-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.Codeblock .CodeblockCanvas-item.Standalone {
  align-items: center;
}