.FileTreeFolder,
.FileTreeFile {
  cursor: pointer;
  overflow-x: hidden;
}

.FileTreeFolder {
  display: flex;
  flex-direction: row;
}

.FileTreeFolder .icon {
  margin-top: 3.5px;
}

.FileTreeFolder.FileTreeFolder--closed .icon {
  transform: rotate(-90deg);
}