.Header {
  border-bottom: 1px solid #dddddd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 25px;
  padding-right: 25px;

  font-variant: small-caps;
  font-size: 16px;
}

.Header .HeaderRootLink {
  font-size: 15px;
  font-variant: normal;
  font-weight: 550;
}

.HeaderLinks {
  display: flex;
}

.HeaderLinks>div {
  margin-right: 10px;
}

.Header a {
  text-decoration: none;
  color: black;
}