:root {
  --header-height: 66.67px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, monospace, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.Header {
  height: var(--header-height);
}

.Header .Button {
  position: relative;
}

.Header .Button .Icon {
  display: none;
}

.Header .Button.Button--inflight .Icon {
  display: block;
}

.Header .Button.Button--disabled .Button-text {
  visibility: hidden;
}

.Header .Button svg {
  height: 25px;
  width: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.Editor {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
  position: relative;
}

.Editor .Navigation {
  padding: 10px;
  padding-top: 25px;

  display: flex;
  flex-direction: column;
}

.Editor .Navigation.Navigation--closed {
  flex-basis: 0.1vw;
}

.Editor .Navigation .NavigationFolder:not(:first-child) {
  padding-top: 10px;
}

.Editor.Docs .Canvas {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  padding: 100px;
  box-sizing: border-box;
}

.Editor.Docs .Canvas .Codeblock {
  margin-left: 10px;
}

.Editor.Docs .Canvas .Canvas-item:not(:last-child) {
  margin-bottom: 22px;
}

.Editor.Docs .Canvas .Monaco .margin {
  width: 0px !important;
}

.Editor.Docs .Canvas .Monaco .monaco-scrollable-element {
  left: 0px !important;
}

.Editor.Docs .Canvas .Monaco .decorationsOverviewRuler {
  display: none !important;
}

.Editor.Docs .Canvas .react-pdf__Page {
  justify-content: left;
}

.Editor .Canvas {
  flex-shrink: 0;
  overflow-y: scroll;
}


.Editor .CanvasPreview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Editor .FilePane {
  position: absolute;
}