:root {
  --header-height: 66.67px;
}

html {
  box-sizing: border-box;
}

a {
  color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, monospace, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}

textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.Header {
  height: var(--header-height);
}

.Header .Button {
  position: relative;
}

.Header .Button .Icon {
  display: none;
}

.Header .Button.Button--inflight .Icon {
  display: block;
}

.Header .Button.Button--inflight .Button-text {
  visibility: hidden;
}

.Header .Button.Button--disabled .Button-text {
  opacity: 0.5;
  cursor: auto;
}

.Header .Button svg {
  height: 25px;
  width: 25px;
  top: calc(50% + 1px);
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.Editor {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
  position: relative;
}

.Editor .Navigation {
  padding: 10px;
  padding-top: 25px;

  display: flex;
  flex-direction: column;
}

.Editor .Navigation.Navigation--closed {
  flex-basis: 0.1vw;
}

.Editor .Navigation .NavigationFolder:not(:first-child) {
  padding-top: 10px;
}

.Editor .Page {
  position: relative;
}

.Editor .Page:hover .SnapIcon {
  display: block;
}

.Editor .SnapIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  display: none;
  cursor: pointer;
}

.Editor .SnapIcon:hover {
  opacity: 0.75;
}

.Editor .SnapIcon.SnapIcon-close {
  width: 19px;
  height: 19px;
  top: 13px;
  opacity: 0.4;
}

.Editor .SnapIcon.SnapIcon-close:hover {
  opacity: 0.65;
}

.Editor .Page .Canvas {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Editor .Page .Canvas .CanvasPane {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  position: relative;
}

.Editor .Page .Canvas .FauxAnchor {
  position: absolute;
  top: 0px;
}

.Editor .Page .Canvas .Codeblock {
  margin-left: 10px;
}

.Editor .Page .Canvas .Canvas-item:not(:last-child) {
  margin-bottom: 22px;
}

.Editor .Page .Canvas .Canvas-item:last-child {
  padding-bottom: 100px;
}

.Editor .Page .Canvas .Monaco .margin {
  width: 0px !important;
}

.Editor .Page .Canvas .Monaco .monaco-scrollable-element {
  left: 0px !important;
}

.Editor .Page .Canvas .Monaco .decorationsOverviewRuler {
  display: none !important;
}

.Editor .Page .Canvas .react-pdf__Page {
  justify-content: left;
}

.Editor .CanvasPreview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FilePane {
  position: fixed;
}